.copyright__text {
  @include montserrat-regular(12px, 16px);
  color: $color-silver;
  margin-right: 3px;
}

.copyright__link {
  @include montserrat-regular(12px, 16px);
  position: relative;
  min-width: 112px;
  color: $color-silver;
  text-decoration: none;

  &:hover .copyright__link-icon,
  &:focus .copyright__link-icon {
    fill: $color-blue-marguerite;
  }

  &:active .copyright__link-icon {
    fill: $color-royal-purple;
  }
}

.copyright__link-icon {
  position: absolute;
  top: 0;
  fill: $color-silver;
}
