$color-white: #ffffff;
$color-black: #000000;
$color-mine-shaft:#333333;
$color-alabaster: #f8f8f8;
$color-blue-chalk: #f0ebff;
$color-iron: #e5e6e8;
$color-merino: #f3ebe1;
$color-selago: #eae6fc;
$color-mercury: #e2e2e2;
$color-royal-purple: #593cac;
$color-silver: #bdbdbd;
$color-portage: #9070ec;
$color-blue-marguerite: #7859cf;
$color-blue-chalk: #f0ebff;
$mobile-width-only: 767px;
$tablet-width: 768px;
$dekstop-width: 1440px;
